<div class="overlay" (click)="modalService.showDialog=false"></div>
<div class="dialog-container">
  <div class="close">
    <span class="material-symbols-outlined close-btn" (click)="modalService.showDialog=false">
      close
      </span>
  </div>
  <div class="dialog-header">
    <img src="/assets/images/angular-headless-hashnode-logo.jpg" alt="">
  </div>
  <div class="dialog-content">
    <h3>Hey, 👋 sign up or sign in to interact.</h3>
  </div>
  <div class="dialog-actions">
    <a class="button" href="https://hashnode.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/hashnode-logo-white.png" alt="Sign in">Sign in with Hashnode</a>
    <p>This blog is powered by <a class="link" href="https://hashnode.com/" target="_blank" rel="noopener noreferrer">Hashnode</a>. To interact with the content on this blog, please log in through Hashnode.</p>
  </div>
</div>

