.post-details-page {
  p-toolbar {
    .p-toolbar-group-start {
      h1 {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  article {
    margin: 0 auto;
    max-width: 50vw;
    padding: 1.25rem;
    border-radius: 0.3125rem;

    .title {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 0.625rem;
    }

    .cover-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
      border-radius: 0.3125rem;
    }

    .post-details {
      border-radius: 1.25rem;
      display: flex;
      align-items: center;
      margin: 1rem 0;

      .author-info {
        display: flex;
        align-items: center;

        .author-image {
          border-radius: 50%;
          width: 3.125rem;
        }

        .author-text {
          display: flex;
          flex-direction: column;
          margin-left: 0.625rem;

          .author-name {
            font-weight: 500;
          }

          .post-meta {
            display: flex;
            align-items: center;

            p-tag {
              margin: 0.3rem;

              i {
                margin-right: 0.1rem;
              }
            }
          }
        }
      }
    }

    .content {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

}
