mat-toolbar {
  justify-content: space-between;
  padding: 0 2rem;

  .theme-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
mat-toolbar {
  padding: 1rem 1rem 0.3rem;
  mat-toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(2) {
      border-bottom: 1px solid #80808050;
    }
    a {
      color: inherit;
      text-decoration: none;
      margin: 0 0.3rem;
    }

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 50%;
      }

      h1 {
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-button {
      margin-right: 20px;
      cursor: pointer;
      align-self: end;
    }

    .social {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0.8rem 0 0.5rem;

      a {
        svg {
          height: 1.1rem;
          width: 1.1rem;
          padding: 0.3rem;
          color: #c2c2c2;
          mix-blend-mode: difference;

          &:before {
            font-size: 1.1rem;
          }
        }
      }
    }

    .series {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.7rem 0;

      a {
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }
  }
}
