<div class="posts-view">
  <div class="layout-control">
    <button (click)="toggleLayout()">
      <span *ngIf="layout == 'grid'" class="material-symbols-outlined">
        menu
      </span>
      <span *ngIf="layout == 'list'" class="material-symbols-outlined">
        grid_view
      </span>
    </button>
  </div>
  <div *ngIf="layout == 'grid'" class="cards-wrapper grid">
    <a *ngFor="let post of posts" class="card">
      <div class="card-image">
        <img
          [src]="post.node.coverImage.url">
      </div>
      <div class="card-title">
        <h3>{{post.node.title}}</h3>
      </div>
    </a>
  </div>
  <div *ngIf="layout == 'list'" class="cards-wrapper list">
    <a *ngFor="let post of posts" class="card">
      <div class="card-image">
        <img
          src="https://raw.githubusercontent.com/monacodelisa/Angular-Headless-Hashnode/develop/angular-headless-hashnode.jpg">
      </div>
      <div class="card-info">
        <div class="card-title">
          <h3>{{post.node.title}}</h3>
        </div>
        <div class="card-brief">
          <p>{{post.node.brief}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
