<div class="post-details-page" [class]="themeService.themeSignal()" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <div class="toolbar-row-start">
      <div class="menu">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <a routerLink="/" class="logo">
        <h1>{{blogName}}</h1>
      </a>
    </div>
    <div class="toolbar-row-end">
      <div class="theme-control">
        <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
        @if (themeService.themeSignal() === 'dark'){
        <mat-icon color="accent">bedtime</mat-icon>
        } @else {
        <mat-icon>brightness_5</mat-icon>
        }
      </div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <h3>Series</h3>
      <mat-nav-list class="series">
        @for (series of seriesList; track series) {
        <a [routerLink]="'../../series/' + series.slug">{{series.name}}</a>
        }
      </mat-nav-list>
      <mat-nav-list class="social">
        @for (social of blogSocialLinks | keyvalue; track social) {
          @if (social.value && social.key !== 'website') {
          <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-{{social.key}}"></i>
          </a>
          }
          @if (social.value && social.key === 'website') {
          <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-globe"></i>
          </a>
          }
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      @if (post$ | async; as post) {
      <article>
        <h1 class="title">{{ post.title }}</h1>
        <img class="cover-image" [src]="post.coverImage.url" alt="Cover image for {{ post.title }}">
        <div class="post-details">
          <div class="author-info">
            <img class="author-image" [src]="post.author.profilePicture" alt="{{post.author.name}}">
            <div class="author-text">
              <span class="author-name">{{post.author.name}}</span>
              <div class="post-meta">
                <span class="published-date">
                  <mat-icon>today</mat-icon>
                  {{post.publishedAt | date: 'MMM dd, yyyy' }}
                </span>
                <span class="read-time">
                  <mat-icon>import_contacts</mat-icon>
                  {{post.readTimeInMinutes}} min read
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="content" [innerHTML]="post.content.html"></div>
      </article>
      }
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
