:host mat-list-item {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    justify-content: space-between;
    min-height: 4rem;

    .site-info {
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        text-decoration: none;

        img {
          width: 2rem;
          height: 2rem;
          margin: 0 0.5rem;
        }
      }
    }

    .theme-control {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }

  mat-sidenav-container {
    flex: 1;
    overflow: visible;

    mat-sidenav {

      mat-nav-list {
        a {
          padding: 1rem 2rem 1rem 1rem;

          span {
            display: flex;
            text-transform: uppercase;

            mat-icon {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  .is-mobile {
    mat-toolbar {
      position: fixed;
      z-index: 2;
    }

    mat-sidenav-container {
      flex: 1 0 auto;
    }
  }

  mat-sidenav-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
