<div class="toolbar" role="banner">
  <div class="toolbar-row">
    <a routerLink="/" class="logo">
      <img src="../../../assets/images/angular-headless-hashnode-logo.jpg" alt="logo" />
      <h1>{{ blogName }}</h1>
    </a>
    <div class="theme-control">
      <button *ngIf="themeService.themeSignal() == 'dark'" (click)="toggleTheme()"><span class="material-symbols-outlined">
          bedtime
        </span></button>
      <button *ngIf="themeService.themeSignal() == 'light'" (click)="toggleTheme()"><span class="material-symbols-outlined">
          wb_sunny
        </span></button>
    </div>
  </div>
  <div class="toolbar-row">
    <div class="social">
      <div class="social-link" *ngFor="let social of blogSocialLinks | keyvalue">
        <a *ngIf="social.value && social.key !== 'website'" href="{{social.value}}" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-{{social.key}}"></i>
        </a>
        <a *ngIf="social.value && social.key === 'website'" href="{{social.value}}" target="_blank" rel="noopener noreferrer">
          <i class="fa-solid fa-globe"></i>
        </a>
      </div>
    </div>
    <div class="follow">
      <button>Follow</button>
    </div>
  </div>
  <div class="toolbar-row">
    <div class="series">
      <div class="topic-link" *ngFor="let topic of topics">
        <a href="{{topic.route }}" target="_blank" rel="noopener noreferrer">{{topic.name}}</a>
      </div>
    </div>
  </div>
</div>
