:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;

  .dialog-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    mat-icon {
      cursor: pointer;
    }
  }

  .logo {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    border-radius: 50%;
  }

  mat-dialog-content {
    h3 {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  mat-dialog-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2563eb;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.7rem 3rem;
      margin: 1rem 0;
      border: none;
      border-radius: 3rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .link {
      color: #2563eb;
      font-size: 0.8.5rem;
      margin: 0;
    }
  }
}
