.posts-view {
  width: 70vw;
  min-height: 67.2vh;
  padding: 0.5rem 0;

  .layout-control {
    display: flex;
    justify-content: flex-end;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;

    mat-card {
      width: 20rem;
      margin: 1rem;
      padding: 0;

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }

      a {
        padding: 0;
        margin: 0;

        .card-image {
          width: 20rem;
          border-radius: 0.3rem;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .card-title {
          padding: 0 1rem;
        }
      }
    }
  }
}
