
@use "@angular/material" as mat;

// Light Theme
$light-theme-primary: mat.define-palette(mat.$indigo-palette);
$light-theme-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$light-theme-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((color: (primary: $light-theme-primary,
        accent: $light-theme-accent,
        warn: $light-theme-warn,
      ),
      typography: mat.define-typography-config(),
    ));

// Dark Theme
$dark-theme-primary: mat.define-palette(mat.$indigo-palette);
$dark-theme-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$dark-theme-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((color: (primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn,
      ),
      typography: mat.define-typography-config(),
    ));

// Dark theme variables
$dark-bg-color: #222;
$semi-dark-bg-color: #333;
$light-text-color: #cacaca;

// Light theme variables
$light-bg-color: #d2d2d2;
$semi-light-bg-color: #c0c0c0;
$dark-text-color: #333;


// Dark mode
.dark {
  @include mat.all-component-colors($dark-theme);

  background-color: $semi-dark-bg-color;
  color: $light-text-color;

  .published-date,
  .read-time {
    background-color: #555;
  }

  .blog-post {
    a {
      color: #939fe2;
    }
    pre {
      background-color: #222;
      color: #eaeaea;
    }
  }

  .footer {
    a {
      &:hover {
        color: #bcbcbc;
      }
    }
  }
}

// Light mode
.light {
  @include mat.all-component-themes($light-theme);

  mat-card {
    background-color: #f5f5f5;
  }

  .published-date,
  .read-time {
    background-color: $light-bg-color;
  }

  .blog-post {
    a {
      color: #3f51b5;
    }
    pre {
      background-color: #444;
      color: #eaeaea;
    }
  }


  .footer {
    a {
      color: #858585;
      &:hover {
        color: #707070;
      }
    }
  }
}

