/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0.4rem;
}