<div class="toolbar" role="banner">
  <div class="toolbar-row">
    <div class="logo">
      <img src="../../../assets/images/angular-headless-hashnode-logo.jpg" alt="logo" />
      <h1>{{ blogName }}</h1>
    </div>
    <div class="theme-control">
      @if (themeService.themeSignal() == 'dark') {
      <button (click)="toggleTheme()"><span class="material-symbols-outlined">
          bedtime
        </span></button>
      } @else {
      <button (click)="toggleTheme()"><span class="material-symbols-outlined">
          wb_sunny
        </span></button>
      }
    </div>
  </div>
  <div class="toolbar-row">
    <div class="social">
      <div class="social-link">
        <a href="https://github.com/monacodelisa/Angular-Headless-Hashnode" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://angular-hashnode.monacodelisa.com/" target="_blank" rel="noopener noreferrer">
          <i class="fa-solid fa-globe"></i>
        </a>
      </div>
    </div>
    <div class="social-link">
      @for (social of blogSocialLinks | keyvalue; track social) {

      @if (social.value && social.key !== 'website') {
      <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-{{social.key}}"></i>
      </a>
      }
      @if (social.value && social.key === 'website') {
      <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-globe"></i>
      </a>
      }
      }
    </div>
    <div class="follow">
      <button>Follow</button>
    </div>
  </div>
  <div class="toolbar-row">
    <div class="series">
      @for (topic of topics; track topic) {
      <a class="topic-link" href="{{ topic.route }}" target="_blank" rel="noopener noreferrer">{{ topic.name}}</a>
      }
    </div>
  </div>
</div>
