.toolbar {
  padding: 1.5rem 1.5rem 0.3rem;

  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(2) {
      border-bottom: 1px solid #80808050;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 50%;
      }

      h1 {
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0;
      }
    }

    .social {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0.8rem 0 0.5rem;

      a {
        margin: 0 0.4rem;

        i {
          height: 1.1rem;
          width: 1.1rem;

          &:before {
            font-size: 1.1rem;
          }
        }
      }
    }

    .follow {
      button {
        font-size: 1.1rem;
        padding: 0.3rem 1.1rem;
        border-radius: 2rem;
      }
    }

    .series {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.7rem 0;

      .series-link {
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 0 0.4rem;
      }
    }
  }
}
