<div class="toolbar" role="banner">
  <div class="toolbar-row">
    <a routerLink="/" class="logo">
      <img src="{{blogImage}}" alt="logo" />
      <h1>{{ blogName }}</h1>
    </a>
    <div class="theme-control">
      @if (themeService.themeSignal() == 'dark') {
      <button (click)="toggleTheme()"><span class="material-symbols-outlined">
          bedtime
        </span></button>
      } @else {
      <button (click)="toggleTheme()"><span class="material-symbols-outlined">
          wb_sunny
        </span></button>
      }
    </div>
  </div>
  <div class="toolbar-row">
    <div class="social">
      <div class="social-link">
        @for (social of blogSocialLinks | keyvalue; track social) {
          @if (social.value && social.key !== 'website') {
          <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-{{social.key}}"></i>
          </a>
          }
          @if (social.value && social.key === 'website') {
          <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-globe"></i>
          </a>
          }
        }
      </div>
    </div>
    <div class="follow">
      <button (click)="modalService.showDialog=true">Follow</button>
    </div>
  </div>
  <div class="toolbar-row">
    <div class="series">
      @for (series of seriesList; track series) {
      <a [routerLink]="'series/' + series.slug" class="series-link">{{ series.name}}</a>
      }
    </div>
  </div>
</div>
@if (modalService.showDialog) {
  <app-follow-dialog></app-follow-dialog>
}
