.search-input {
  width: 100%;
}

.search-dialog-header {
  display: flex;
  align-items: center;
  padding: 24px 20px 0;

  h2 {
    margin-bottom: 0;
  }

  .close-button {
    margin-left: auto;
    cursor: pointer;
  }
}

.no-result-text {
  display: flex;
  justify-content: center;
}

.search-result {
  display: flex;
  margin-bottom: 0.6rem;
  align-items: center;
  padding: 0.6rem;
  border-radius: 0.3rem;

  .post-title {
    margin-bottom: 0;
    font-weight: bold;
  }

  .author-name {
    font-size: small;
    margin-top: 0;
  }

  .post-info {
    font-size: 0.9rem;
  }

  img {
    height: 7rem;
    margin-left: auto;
    border-radius: 0.3rem;
  }
}

.search-result:hover {
  background-color: #212121;
  cursor: pointer;
}
