.posts-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  min-height: 67.2vh;
  padding: 0.5rem 0;

  .layout-control {
    display: flex;
    justify-content: flex-end;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;
  }
}
