footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1rem;
  z-index: 2;

  p, small {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  small {
    color: #999999;
    margin-top: 0.8rem;

    a {
      margin-left: 0.4rem;
    }
  }
}
