/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// GLOBAL STYLES
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.card {
  width: 20vw;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1px 1px #0000001f;
  cursor: pointer;

  .card-image {
    width: 100%;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-title {
    display: flex;
    height: 6rem;
    border-radius: 0 0 1rem 1rem;

    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0.5rem 1rem;
    }
  }

  p {
    font-size: 0.9rem;
    padding: 1rem 1rem 0;
    margin: 0 0 0.5rem;
  }
}

button {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

article {
  .content {
    a {
      text-decoration: underline;
      margin: 0;
    }

    p {
      img {
        display: block;
        height: 100%;
        margin: 0 auto;
      }
    }

    pre {
      line-height: 2.2rem;
      padding: 1rem 1.5rem 1rem;
      border-radius: 0.3rem;
      position: relative;

      .hljs-keyword {
        color: #f92672;
      }

      .hljs-built_in {
        color: #e6db74;

      }
    }
  }
}


// DARK THEME SPECIFIC STYLES
.dark {

  .toolbar,
  footer {
    background-color: #333;
    color: #c2c2c2;
  }

  button {
    background-color: #444;
    color: #c2c2c2;

    &:hover {
      background-color: #555;
    }
  }

  h1, h3 {
    color: #c2c2c2;
  }

  .dialog-container {
    background-color: #000;
    color: #c2c2c2;
    box-shadow: 5px 5px 4px #202020d9;
  }

  .content {
    background-color: #444;
    color: #f5f5f5;

    .card {
      border: 1px solid #0000001f;

      &:hover {
        border: 1px solid #2e2e2e;
      }

      .card-title {
        background-color: #333;
        color: #c2c2c2;
      }
    }
  }

  app-sidenav {
    background-color: #3e3e3e;
    color: #c2c2c2;
  }

  article {
    .published-date,
    .read-time {
      background-color: #555;
    }

    pre {
      background-color: #222;
      color: #eaeaea;
    }
  }

  footer {
    a {
      color: #a7a7a7;

      &:hover {
        color: #bcbcbc;
      }
    }
  }
}

// LIGHT THEME SPECIFIC STYLES
.light {
  color: #444;

  .toolbar,
  footer {
    background-color: #c2c2c2;
  }

  button {
    background-color: #d5d5d5;
    border-color: #c2c2c2;
    color: #656565;
  }

  .dialog-container {
    background-color: #ededed;
    box-shadow: 5px 5px 4px #20202054;
  }

  .content {
    background-color: #e9e9e9;

    .card {
      border: 1px solid #0000001f;

      &:hover {
        border: 1px solid #989898;
      }

      .card-title {
        background-color: #c2c2c2;
      }
    }
  }

  app-sidenav {
    background-color: #dedede;
    color: #444;
  }

  article {
    .published-date,
    .read-time {
      background-color: #d2d2d2;
    }

    pre {
      background-color: #444;
      color: #eaeaea;
    }
  }

  footer {
    a {
      color: #898989;

      &:hover {
        color: #a0a0a0;
      }
    }
  }
}
