p-toolbar {
  .toolbar-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  p, small {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  small {
    color: #999999;
    margin-top: 0.8rem;
  }
}
