.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 1;

  p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;
    margin: 0;
    a {
      text-decoration: none;
      margin: 0;
    }
  }
}
