.posts-view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 67.2vh;
  padding: 0.5rem 0;

  .layout-control {
    display: flex;
    justify-content: flex-end;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;

    mat-card {
      width: 25rem;
      margin: 1rem;
      padding: 0;
      cursor: pointer;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px #00000033;
        transition: all 0.3s ease-in-out;
      }

      a {
        padding: 0;
        margin: 0;

        .card-image {
          width: 25rem;
          border-radius: 0.3rem;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .card-title {
          padding: 0 1rem;
        }
      }
    }
  }
}
